{% extends 'base.html.twig' %}

{% block title %} | Réinitialisation du Mot de Passe{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="my-4">
        <h1 class="text-center">Réinitialiser un Mot Passe</h1>
        <a href="{{ path('app_trick_index', {'page':1}) }}" class="btn btn-lg m-4"><i
                    class="fa-solid fa-arrow-left-long"></i></a>
        <hr>
        <section class="container">
            {{ form_start(requestForm) }}
            <div class="mx-auto w-75">
                <label for="email" class="form-label mb-0">Email</label>
                {{ form_widget(requestForm.email, {'attr':{'class': 'form-control mt-0'}}) }}
            </div>
            {#        {{ form_row(requestForm.email) }} #}
            <div class="mx-auto w-75">
                <small>
                    Renseignez votre email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <div class="text-center">
                <button class="btn my-4">Envoyer</button>
            </div>
            {{ form_end(requestForm) }}
        </section>
    </section>
{% endblock %}
