{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block main %}
    <main class="">
        <section id="up" class="banner my-4" style="background:url(/images/pexels-leroy-filon-311065.jpg)">
            <h1 class="text-center">
SNOW TRICKS
            </h1>
            <a href="#down"></a>
        </section>
        <section id="down" class="trick-list my-4 container">
            {% if user %}
            <div class="text-end my-4">
            <a href="{{ path('app_trick_new') }}">Create new</a>
            </div>
            {% endif %}
            <ul class="d-flex flex-wrap justify-content-between">
                {% for trick in tricks %}
                <li class="card w-25 mx-4 my-4">
                    <img src="/images/{{ trick.banner }}" alt="{{ trick.name }}" class="card-img-top">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <a href="{{ path('app_trick_show', {'id': trick.id, 'page': 1}) }}"><h2>{{ trick.name }}</h2></a>
                        </div>
                        {% if user %}
                        <div class="ms-4 d-flex">
                            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="text-warning"><i class="text-warning bi bi-pencil btn"></i></a>
                            {{ include('trick/_delete_form.html.twig') }}
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% else %}
                    <div>
                <span>no records found</span>
                    </div>
                {% endfor %}
            </ul>
            <div class="text-center">
{#                {{ dump(page >= nbPages) }}#}
            <a class="btn" href="/trick/page{% if page >= nbPages| number_format(0, '.', ',') %}{{ page }}{% else %}{{ page + 1 }}{% endif %}">Load More</a>
                {% if page > 1 %}
            </div>
            <a href="/trick/page{% if page is same as(1) %}{{ page }}{% else %}{{ page -1 }}{% endif %}">Revenir aux tricks précédents</a>
            {% endif %}
{#            <nav aria-label="Page navigation">#}
{#                <ul class="pagination">#}
{#                    <li class="page-item"><a class="page-link" href="/trick/{% if page is same as(1) %}{{ page }}{% else %}{{ page -1 }}{% endif %}"><</a></li>#}
{#                    {% set k = 0 %}#}
{#                    {% for k in 0..nbPages| number_format(0, '.', ',') %}#}
{#                        {% set k=k+1 %}#}
{#                        <li class="page-item"><a class="page-link {% if k is same as(page) %}active{% endif %}" href="/trick/page{{ k }}">{{ k }}</a></li>#}
{#                    {% endfor %}#}
{#                    <li class="page-item"><a class="page-link" href="/trick/page{% if page > nbPages|length() %}{{ page }}{% else %}{{ page + 1 }}{% endif %}">></a></li>#}
{#                </ul>#}
{#            </nav>#}
        </section>
{#        <a href="#up" class="fixed-bottom display-1 text-end">^</a>#}
    </main>
{% endblock %}
