{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block main %}
    <div class="fixed-top d-flex justify-content-end align-items-center mt-5">
        <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a>

        {{ include('trick/_delete_form.html.twig') }}
    </div>
    <section id="up" class="banner my-4" style="background-image: url({{ trick.banner }})">
        <h1 class="text-center">
            {{ trick.name }}
        </h1>
    </section>
    <section class="text-center">
    <ul class="list-inline">
        <li class="list-inline-item"><img src="" alt="1"></li>
        <li class="list-inline-item"><img src="" alt="2"></li>
        <li class="list-inline-item"><img src="" alt="3"></li>
        <li class="list-inline-item"><img src="" alt="4"></li>
        <li class="list-inline-item"><img src="" alt="5"></li>
        <li class="list-inline-item"><img src="" alt="6"></li>
    </ul>
    </section>
    <section class="text-center">
        <p>{{ trick.description }}</p>
    </section>

    <section class="text-center">
        <ul class="list-inline">
            <li class="list-inline-item">date de création</li>
            <li class="list-inline-item">groupe</li>
            <li class="list-inline-item">date de modification</li>
        </ul>
    </section>

    <form action="" class="text-center">
        <label>
            <input type="text">
        </label>
        <button></button>
    </form>

    <a href="{{ path('app_trick_index') }}">back to list</a>

{% endblock %}
