{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block main %}
    {% if user %}
        <div class="fixed-top d-flex justify-content-end align-items-center mt-5">
            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a>

            {{ include('trick/_delete_form.html.twig') }}
        </div>
    {% endif %}
    <section id="up"
             class="banner my-4"
             style="background-image: url('/images/{{ trick.banner }}');">
        {#        <img src="/images/{{ trick.banner }}" alt=""> #}
        <h1 class="text-center">
            {{ trick.name }}
        </h1>
    </section>
    <section class="text-center">
        <ul class="list-inline">
            {% for media in trick.media %}
            <li class="list-inline-item"><img src="{{ asset('images/')}}{{ media.name }}" alt="{{ media.name }}" style="max-width: 10rem"></li>
            {% endfor %}
        </ul>
        <ul class="list-inline">
            {% for video in trick.videos %}
                <li class="list-inline-item">
                    {{ video.url|raw }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class="text-center">
        <p>{{ trick.description }}</p>
    </section>

    <section class="text-center">
        <ul class="list-inline">
            <li class="list-inline-item">date de création</li>
            <li class="list-inline-item">groupe</li>
            <li class="list-inline-item">date de modification</li>
        </ul>
    </section>

    {% if user %}
        <form class="container" method="post">
            <label for="content" class="text-start my-4">Laisser un Commentaire</label>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
            <div class="w-100 text-end container my-4">
                <button type="submit" class="btn btn-primary ms-auto">Envoyer</button>
            </div>
        </form>
    {% endif %}

    <ul class="list-group container">
        {% for com in messages %}
            <li class="list-group-item py-4">
                <div class="fw-bold"> {{ com.author }}</div>
                <p>{{ com.content }}</p>
                <div class="fw-lighter text-muted d-flex justify-content-between flex-wrap">{{ com.createAt|date }}<a
                            href="">Signaler ce commentaire</a></div>
            </li>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation" class="pagination">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                                     href="/trick/{{ trick.id }}/page{% if page is same as(1) %}{{ page }}{% else %}{{ page -1 }}{% endif %}"><</a>
            </li>
            {% set k = 0 %}
            {% for k in 0..nbPages| number_format(0, '.', ',') %}
                {% if k < nbPages %}
                {% set k=k+1 %}
                <li class="page-item"><a class="page-link {% if k is same as(page) %}active{% endif %}"
                                         href="/trick/{{ trick.id }}/page{{ k }}">{{ k }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link"
                                     href="/trick/{{ trick.id }}/page{% if page > nbPages|length() %}{{ page }}{% else %}{{ page + 1 }}{% endif %}">></a>
            </li>
        </ul>
    </nav>
    <a href="{{ path('app_trick_index', {'page':1}) }}">back to list</a>

{% endblock %}
