{% extends 'base.html.twig' %}

{% block title %} | {{ trick.name }}{% endblock %}

{% block main %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    {% if user and trick.author is same as user %}
        <div class="fixed-top d-flex justify-content-end align-items-center mt-5 languette">
            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="text-warning deledit fs-3"><i
                        class="fa-solid fa-pencil"></i></a>

            {{ include('trick/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <section id="up"
             class="banner"
             style="background-image: url('/images/{{ trick.banner }}');">
        {#        <img src="/images/{{ trick.banner }}" alt=""> #}
        <div class=" text-center">
            <h1 class="text-center">
                {{ trick.name }} | {{ trick.category }}
            </h1>
            <a href="#down" class="link-light fs-1"><i class="fa-solid fa-arrow-down fa-beat"></i></a>
        </div>
    </section>
    <section class="text-center my-4 mx-4" id="down">

        <div class="d-xl-flex justify-content-between d-none">
            <div id="carouselMedia">
                <p>Cliquez sur chaque image pour la faire défiler</p>
                {% set i = 0 %}
                {% for media in trick.media %}
                    <div class="{% if i == 0 %}selected{% elseif i == 1 %}next{% elseif i == 2 %}nextRightSecond{% elseif i == 3 %}hideRight{% endif %}">
                        <img src="{{ asset('images/') }}{{ media.name }}"
                             alt="{{ media.name }}">
                        {% if user and trick.author is same as user %}
                            <div class="d-flex justify-content-end align-items-center">
                                {#                        <a href="{{ path('app_media_edit', {'id': media.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a> #}

                                {{ include('media/_delete_form.html.twig') }}
                            </div>
                        {% endif %}</div>
                    {% set i = i+1 %}
                {% endfor %}

            </div>
            <ul class="d-flex justify-content-evenly list-unstyled">
                {% for video in trick.videos|slice(0,3) %}
                    <li class="list-inline-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% if user and trick.author is same as user %}
                            <div class="d-flex justify-content-end align-items-center">
                                {#                            <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a> #}

                                {{ include('video/_delete_form.html.twig') }}
                            </div>
                        {% endif %}</li>
                {% endfor %}
            </ul>
        </div>

        <ul class="d-none justify-content-between d-none list-unstyled">
            <li class="">
                <ul class="d-flex justify-content-evenly list-unstyled">
                    {% for media in trick.media %}
                        <li class="list-inline-item"><img src="{{ asset('images/') }}{{ media.name }}"
                                                          alt="{{ media.name }}" class="img-fluid"
                                                          style="max-width: 15rem">
                            {% if user and trick.author is same as user %}
                                <div class="d-flex justify-content-end align-items-center">
                                    {#                        <a href="{{ path('app_media_edit', {'id': media.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a> #}

                                    {{ include('media/_delete_form.html.twig') }}
                                </div>
                            {% endif %}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul class="d-flex justify-content-evenly list-unstyled">
                    {% for video in trick.videos %}
                        <li class="list-inline-item"><video src="https://youtu.be/wDjeBNv6ip0" controls width="480"></video>
                            {% if user and trick.author is same as user %}
                                <div class="d-flex justify-content-end align-items-center">
                                    {#                            <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a> #}

                                    {{ include('video/_delete_form.html.twig') }}
                                </div>
                            {% endif %}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <!-- Button trigger modal -->
        <button type="button" class="btn d-xl-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Voir les médias
        </button>
        <!-- Scrollable modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            <li class="">
                                <ul class="list-unstyled">
                                    {% for media in trick.media %}
                                        <li class="my-4"><img src="{{ asset('images/') }}{{ media.name }}"
                                                              alt="{{ media.name }}" class="img-fluid"
                                                              style="max-width: 15rem">
                                            {% if user and trick.author is same as user %}
                                                <div class="d-flex justify-content-end align-items-center">
                                                    {#                        <a href="{{ path('app_media_edit', {'id': media.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a> #}

                                                    {{ include('media/_delete_form.html.twig') }}
                                                </div>
                                            {% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <ul class="list-unstyled">
                                    {% for video in trick.videos %}
                                        <li class="my-4">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            {% if user and trick.author is same as user %}
                                                <div class="d-flex justify-content-end align-items-center">
                                                    {#                            <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="text-warning deledit"><i class="bi bi-pencil"></i></a> #}

                                                    {{ include('video/_delete_form.html.twig') }}
                                                </div>
                                            {% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center fs-4 container">
        <p>{{ trick.description|nl2br }}</p>
    </section>

    <section class="text-center">
        <ul class="list-inline">
            <li class="list-inline-item">Créé le {{ trick.createdAt|date("d/m/Y") }} par {{ trick.author }}</li>
            |
            <li class="list-inline-item">Mis à jour le {{ trick.updatedAt|date("d/m/Y") }}</li>
        </ul>
    </section>

    <a href="{{ path('app_trick_index', {'page':1}) }}" class="btn btn-lg m-4"><i
                class="fa-solid fa-arrow-left-long"></i></a>
    <hr>

    {% if user %}
        <div class="container">
        {{ form_start(form) }}
            <label for="content" class="text-start my-4">Envoyer un Commentaire en tant que {{ app.user.firstname }} {{ app.user.lastname }}</label>
            {{ form_widget(form.content) }}
            <div class="w-100 text-end container my-4">
                <button type="submit" class="btn btn-primary ms-auto">Envoyer</button>
            </div>
        {{ form_end(form) }}
        </div>
    {% endif %}

    <ul class="list-group container my-5">
        {% for com in messages|sort((b, a) => a.createAt <=> b.createAt) %}
            <li class="list-group-item py-4">
                <div class="fw-bold"> {{ com.author }}</div>
                <p>{{ com.content }}</p>
                <div class="fw-lighter text-muted d-flex justify-content-between flex-wrap">{{ com.createAt|date }}
                    <a href="" class="d-none">Signaler ce commentaire</a></div>
            </li>
        {% endfor %}
    </ul>
    {% if messages|length() > 2 %}
        <nav aria-label="Page navigation" class="pagination">
            <ul class="pagination">
                {% if page > 1 %}
                <li class="page-item"><a class="page-link secondary-link"
                                         href="/trick/{{ trick.id }}/page{% if page is same as(1) %}{{ page }}{% else %}{{ page -1 }}{% endif %}"><</a>
                </li>
                {% endif %}
                {% set k = 0 %}
                {% for k in 0..totalPage| number_format(0, '.', ',') %}
                    {% if k < totalPage %}
                        {% set k=k+1 %}
                        <li class="page-item"><a class="page-link {% if k is same as(page) %}active{% endif %}"
                                                 href="/trick/{{ trick.id }}/page{{ k }}">{{ k }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page < totalPage %}
                <li class="page-item"><a class="page-link secondary-link"
                                         href="/trick/{{ trick.id }}/page{% if page > totalPage|length() %}{{ page }}{% else %}{{ page + 1 }}{% endif %}">></a>
                </li>
                    {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}

